@model Lab3.Models.Person
@{
    Layout = "_Layout";
    ViewData["Title"] = "Display Person";
}

<h1>Your Favourite Person</h1>
<br />
<p>
    First Name: @Model.FirstName <br />
    Last Name: @Model.LastName <br />
    Age: @Model.Age <br />
    Email Address: @Model.Email <br />
    Description: @Model.Description <br />
</p>
